*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-background-color: rgb(45, 45, 45);
  --text-primary-color: rgb(255, 255, 255);
}

#app {
  /* border */
  height: 1000px;

  /* content */
  background: var(--app-background-color);
  color: var(--text-primary-color)
}
